header {
  background-color: #366819;
  height: 4em;
  width: 84.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  display: -ms-grid;
  display: grid;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 3vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 3vh;
}

.btn-facebook {
  background-color: #205ee4;
}

.btn-instagram {
  background-color: #C25E;
}

.btn-whatsapp {
  background-color: rgba(46, 236, 20, 0.933);
}

.titulito, .btn-facebook {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: brown;
}

.btn-facebook {
  font-size: large;
}

.h2 {
  height: 1cm;
  width: 35.7cm;
  background-color: goldenrod;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #a1dfa1;
}

h1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

h3 {
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 35px;
}

.h2 {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  justify-items: center;
  color: #162e16;
}

.titulo {
  color: #043504;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subtitulo {
  color: #51750a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 10px;
}

p {
  color: darkgreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 2cm;
  margin-top: 2cm;
  font-size: 20px;
}

.fotosFinca:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 2s;
  transition: all 2s;
}

footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #84c95c;
  margin-bottom: 0px;
  padding: 10px;
  border: 2px solid green;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.galeria-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagenes;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 20cm;
  gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "header" "nav" "imagenes" "footer";
}

@media (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "imagenes" "footer";
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer {
    margin-top: 1500px;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "imagenes" "footer";
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 5px dotted #020202 ed;
  }
  body {
    background-color: #ebebaf;
  }
  footer {
    background-color: #6b993e;
  }
}

@media (min-width: 920px) {
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "galeria"  "footer";
  }
  .imagenes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
    height: auto;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center;
  }
  img {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    border: 5px solid white;
    width: 12cm;
    height: 12cm;
    margin-top: 20px;
  }
  .fotosFinca {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #ebebaf;
  }
  footer {
    margin-top: 200px;
  }
}

.formulario {
  margin: 50px 60px 50px 60px;
}

button {
  margin: 0.1em;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-7 {
  background: -webkit-gradient(linear, left bottom, left top, from(#84c95c), to(#84c95c));
  background: linear-gradient(0deg, #84c95c 0%, #84c95c 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #84c95c;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: #84c95c;
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #84c95c;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */