header {
  background-color: #84c95c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 0.5cm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.5cm;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #a1dfa1;
}

h1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

h3 {
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 35px;
}

.h2 {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  justify-items: center;
  color: #162e16;
}

.titulo {
  color: #043504;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subtitulo {
  color: #51750a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 10px;
}

p {
  color: darkgreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
}

.fotosFinca:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 2s;
  transition: all 2s;
}

footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #84c95c;
  margin-bottom: 0px;
  padding: 10px;
  border: 2px solid green;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.galeria-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagenes;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 700px;
  gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "header" "nav" "imagenes" "footer";
}

@media (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "imagenes" "footer";
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer {
    margin-top: 1500px;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "imagenes" "footer";
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 5px dotted #020202 ed;
  }
  body {
    background-color: #ebebaf;
  }
  footer {
    background-color: #6b993e;
  }
}

@media (min-width: 920px) {
  .imagenes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center;
  }
  .wrapper {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
        grid-template-areas: "header" "nav" "galeria"  "footer";
  }
  img {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    border: 5px solid white;
    width: 500px;
    height: 500px;
    margin-top: 20px;
  }
  .fotosFinca {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #ebebaf;
  }
  footer {
    margin-top: 200px;
  }
}

.formulario {
  margin: 50px 60px 50px 60px;
}
/*# sourceMappingURL=style.css.map */