header{
    background-color: rgb(54, 104, 25);
    height: 4em;
    width: 84.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

   nav ul li{
        display: grid;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 3vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 3vh;
        }
    }